In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Florida_data.csv")
df

,Zip_CoDE,less_than_grade_9_est,high_school_non_grad_est,high_school_grad_est,some_college_no_degree_est,associates_degree_est,bachelor_degree_est,grad_or_professional_degree_est,registration_rate,turnout_rate,latitude,longitude,population,num_registered_voters,num_voted,did_not_vote,average_house_value,average_income
0,33626,165,444,2529,3183,1661,7030,4525,65%,42%,28.067196,-82.613677,33535.0,33382.0,"14,115","19,267","347,700","106,560"
1,33629,305,166,2263,2425,1118,6512,5457,65%,69%,27.921808,-82.508953,24930.0,34542.0,"15,507","19,035","492,300","115,180"
2,33634,838,1250,4248,2717,1294,2988,1290,65%,38%,28.003866,-82.545317,22560.0,19609.0,"7,468","12,141","162,400","58,013"
3,33635,330,697,3495,2869,1345,2214,1407,65%,39%,28.016174,-82.611958,18517.0,18163.0,"7,113","11,050","164,700","60,267"
4,33637,450,539,2549,2188,1037,2216,1071,65%,38%,28.049979,-82.363446,18417.0,16651.0,"6,352","10,299","146,000","52,635"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,32904,306,1247,6106,4188,2422,4125,2497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,32905,641,1603,5366,3862,2199,2102,968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,32907,936,1990,10072,7433,3233,4137,1794,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,32908,327,365,2941,1931,805,910,310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,32909,1113,1182,7462,5247,2333,2111,1407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df["Zip_CoDE"] = df["Zip_CoDE"].astype(str)

In [16]:
df.to_csv("FinalData.csv", index=False)